.md-main {
  background-color: #0a0a0e;
  color: #ffffff;
}

[data-md-color-primary="purple"] header.md-header {
  background-color: #13131b;
}

.md-main .md-typeset h1 {
  color: rgba(255, 255, 255, 0.54);
}

.md-typeset code {
  background-color: rgba(39, 39, 39, 0.5);
  color: rgba(255, 255, 255, 0.54);
  box-shadow: 0.29412em 0 0 rgba(39, 39, 39, 0.5),
    -0.29412em 0 0 rgba(39, 39, 39, 0.5);
}

.md-main .md-nav__link[data-md-state="blur"] {
  color: rgba(255, 255, 255, 0.54);
}

.md-header .md-search__scrollwrap {
  background-color: #13131b;
}

.md-header .md-search-result__meta {
  background-color: rgba(255, 255, 255, 0.07);
  color: rgba(255, 255, 255, 0.54);
}

.md-header .md-search__input::placeholder,
.md-search__input ~ .md-search__icon {
  color: rgba(255, 255, 255, 0.54);
}

[data-md-toggle="search"]:checked ~ .md-header .md-search__input {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.54);
}

[data-md-toggle="search"]:checked
  ~ .md-header
  .md-search__input
  + .md-search__icon,
[data-md-toggle="search"]:checked ~ .md-header .md-search__input::placeholder {
  color: rgba(255, 255, 255, 0.54);
}

@media only screen and (max-width: 76.1875em) {
  .md-main .md-nav {
    background-color: #13131b;
  }

  html .md-main .md-nav--primary .md-nav__title ~ .md-nav__list {
    background-color: #13131b;
  }

  html .md-main .md-nav--primary .md-nav__title {
    color: rgba(255, 255, 255, 0.54);
  }
}
